@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

body{
    background-color: rgb(243, 243, 243);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__login{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 3px rgba(93, 148, 211, 0.173);
    border-radius: 5vh;  
    width: 40vh;
    height: 62vh;
}

.card__login{
    padding: 1vh;
    border-radius: 5vh;    
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form > input{
    padding: 1vh;
    border-radius: 1vh;
    background-color: rgb(239, 239, 239);
    outline: none;
    border: none;
    margin: 1vh;
    width: 30vh;
    height: 5vh;
    font-size: 1.8vh;
}

form > input::placeholder{
    font-size: 1.8vh;
}

form > h2{
    color: rgb(77, 172, 255);
    margin: 2vh;
    font-size: 3vh;
}

select{
    color: rgb(107, 107, 107);
    padding: 1vh;
    border-radius: 1vh;
    background-color: rgb(239, 239, 239);
    outline: none;
    border: none;
    margin: 1vh;
    width: 30vh;
    height: 5vh;
    font-size: 1.8vh;
}

form > input:hover{
    scale: 1.05;
    background-color: rgb(152, 205, 255);
    color: white;
}

form > input:hover::placeholder {
    color: white;
}

select:hover{
    scale: 1.05;
    background-color: rgb(152, 205, 255);
    color: white;
}

select:hover::placeholder {
    color: white;
}

option{
    background-color: rgb(239, 239, 239);
    color: black;
}

.btn{
    cursor: pointer;
    color: white;
    padding: 1vh;
    border-radius: 1vh;
    background-color: rgb(71, 138, 255);
    outline: none;
    border: none;
    margin: 1vh;
    width: 30vh;
    height: 5vh;
    font-size: 1.8vh;
}

.btn:hover{
    scale: 1.1;
    font-size: 2vh;
}

.content{
    display: flex;
    
}

.contenedor__lista{
    margin-left: 160px;
    border-radius: 5vh;  
    width: 88vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
}

.contenedor__lista > h2{
    padding: 2vh;
    text-align: center;
    width: 120%;
    color: rgb(77, 172, 255);
    border-bottom: 0.3vh solid rgba(53, 134, 226, 0.712);
}

.content__priv{
    width: 30vh;
    display: flex;
    align-items: center;
    
}

.content__priv > p{
    margin-left: 1vh;
}

.sucess{
    border: solid 1px green;
}

.no_send{
    border: solid 1px red;
}

.disabled{
    color: rgb(31, 31, 31);
    padding: 1vh;
    border-radius: 1vh;
    background-color: rgb(203, 204, 207);
    outline: none;
    border: none;
    margin: 1vh;
    width: 30vh;
    height: 5vh;
    font-size: 1.8vh;
}

.content_table{
    width: 120%;
    max-height: 100%;
    overflow-y: scroll;
    
}

table {
    overflow-y: scroll;
    width: 95%;
    height: 20vh;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #f3f3f3;
    border-radius: 2vh;
    box-shadow: 0px 0px 5px 3px rgba(93, 148, 211, 0.173);
}

thead {
    background-color: rgb(71, 138, 255);
    color: #ffffff;
    height: 5vh;
    padding: 5vh;
}

thead :first-child {
    border-top-left-radius: 2vh;
}

thead :last-child{
    border-top-right-radius: 2vh;
}

thead th {
    font-size: 1.5vh;
    padding: 1.5vh;
    text-align: left;
}

tbody td {  
    font-size: 1.5vh;
    padding: 1.5vh;
}

tbody tr:hover{  
    background-color: rgb(238, 238, 238)
}

.btn_edit{
    margin: 0.2vh;
    border: 0.2vh solid rgb(71, 138, 255);
    width: 8vh;
    height: 4vh;
    border-radius: 2vh;
    color: rgb(71, 138, 255);
    font-size: 1.5vh;
}

.btn_del{
    margin: 0.2vh;
    border: 0.2vh solid rgb(255, 71, 71);
    width: 8vh;
    height: 4vh;
    border-radius: 2vh;
    color: rgb(255, 71, 71);
    font-size: 1.5vh;
}


.btn_edit:hover{
    scale: 1.2;
    cursor: pointer;
}

.btn_del:hover{
    scale: 1.2;
    cursor: pointer;
}